<template>
  <div class="q-pa-md">
    <!-- Users favs Table -->
    <UsersTable
      :data="data"
      :loading="loading"
      :filters="filters"
      :showReloadBtn="false"
      tituloTabla="Usuarios favoritos"
      @onRowClick="onRowClick"
    />
    <!-- Modal for fav user profile -->
    <UserProfile
      :user="selectedRow"
      :showaddtofavbtn="false"
      :visible="visibiliyUserModal"
      @hide="changeVisibilityUserProfileModal(false)"
      @removeFavorito="removeFavorito"
    />
  </div>
</template>
<script>
import UsersTable from "../components/UsersTable";
import UserProfile from "../components/UserProfile";

export default {
  data() {
    return {
      loading: false,
      selectedRow: null,
      visibiliyUserModal: false,
      filters: {
        gender: null,
        nat: null
      },
      data: []
    };
  },
  created() {
    this.fetchData();
  },
  methods: { 
    async fetchData() {
       await this.$backend.get()
        .then(response => {
          this.data = response.data.reverse();
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    changeVisibilityUserProfileModal(visibility) {
      this.visibiliyUserModal = visibility;
    },
    onRowClick(row) {
      this.selectedRow = row;
      this.changeVisibilityUserProfileModal(true);
    },
    async removeFavorito() {

     await this.$backend.delete(`delete-profile/${this.selectedRow._id}`)
        .then(()=>{
          const index = this.data.indexOf(this.selectedRow);
          if (index > -1) {
            this.data.splice(index, 1);
          }  
          this.changeVisibilityUserProfileModal(false);
          this.$q.notify({
            message: "Perfil eliminado de favoritos.",
            color: "green"
          });
        }).catch(errors => {
          console.log(errors)
        })
     
      
    }
  },
  components: {
    UsersTable,
    UserProfile
  }
};
</script>
