<template>
  <div class="q-pa-md">
    <!-- Users Table -->
    <UsersTable
      :data="data"
      :loading="loading"
      :filters="filters"
      @updatedFilterNat="updatedFilterNat"
      @updatedFilterGender="updatedFilterGender"
      @onRowClick="onRowClick"
      @fecthData="fecthData"
      tituloTabla="Nuevos usuarios para añadir"
    />
    <!-- Modal for user profile -->
    <UserProfile
      :listas="listas"
      :user="selectedRow"
      :visible="visibiliyUserModal"
      @hide="changeVisibilityUserProfileModal(false)"
      @nuevofavorito="addNewFav"
    />
  </div>
</template>
<script>
import UsersTable from "../components/UsersTable";
import UserProfile from "../components/UserProfile";

export default {
  name: "Home",
  data() {
    return {
      fav_profiles: [],
      records: 100,
      loading: false,
      filters: {
        gender: null,
        nat: null
      },
      selectedRow: null,
      visibiliyUserModal: false,
      data: [],
      listas:[]
    };
  },
  mounted() {
    if (localStorage.fav_profiles) {
      this.fav_profiles = JSON.parse(localStorage.getItem("fav_profiles"));
    }
  },
  created() {
    this.fecthData();
  },
  methods: {
    async fecthData() {
      this.loading = true;
      const filterGenderValue = this.filters.gender
        ? this.filters.gender.value
        : "";
      const filterNatValue = this.filters.nat ? this.filters.nat : "";
      try {
        const data = await this.$random_user_api.get(
          `?results=${this.records}&gender=${filterGenderValue}&nat=${filterNatValue}`
        );
        this.data = data.data.results;

        const data_listas = await this.$backend.get('/list');
        this.listas = data_listas.data.map(lista => {
          return {
            label: lista.name,
            value: lista._id
          }
        });
      } catch (errors) {
        console.log(errors);
      } finally {
        this.loading = false;
      }
    },
    onRowClick(row) {
      console.log(row);
      this.selectedRow = row;
      this.changeVisibilityUserProfileModal(true);
    },
    changeVisibilityUserProfileModal(visibility) {
      this.visibiliyUserModal = visibility;
    },
    updatedFilterNat(value) {
      this.filters.nat = value;
      this.fecthData();
    },
    updatedFilterGender(value) {
      this.filters.gender = value;
      this.fecthData();
    },
    addNewFav(listSelected) {
      this.selectedRow.list = listSelected;
      console.log(this.selectedRow);
      const data = this.$backend.post('/create-profile',this.selectedRow).then(() => {
          console.log('ya esa creado');
      }).catch(errors =>{
        console.log(errors)
      })

      const index = this.data.indexOf(this.selectedRow);
      if (index > -1) {
        this.data.splice(index, 1);
      }
      this.$q.notify({
        message: "Perfil añadido a favoritos.",
        color: "green"
      });
      this.selectedRow = null; 
    }
  },
  computed: {},
  components: {
    UsersTable,
    UserProfile
  }
};
</script>
