<template>
  <div class="q-pa-md">
    <ListTable
      :data="data"
      :loading="loading"
      @newList="changeNewListModalVisibility(true)"
      @deleteList="deleteList"
    />
    <NewListModal
      :loading="loading"
      :visible="visibilityNewListModal"
      @addNewList="addNewList"
      @hide="changeNewListModalVisibility(false)"
    />
  </div>
</template>
<script>
import ListTable from "../components/ListTable";
import NewListModal from "../components/newListModal";
export default {
  data() {
    return {
      loading: false,
      urlBackend: "http://localhost:4000/api",
      data: [],
      visibilityNewListModal: false
    };
  },
  created() {
    this.fecthData();
  },
  methods: {
    async fecthData() {
      try {
        const { data } = await this.$backend.get("/list");
        this.data = data;
      } catch (errors) {
        console.log(errors);
      } finally {
      }
    },
    async addNewList(newListName) {
       await this.$backend.post("/list/create-list", {
        name: newListName
      }).then(()=>{
        this.fecthData();
        this.changeNewListModalVisibility(false);
      }).catch(errors => {
        console.log(errors);
      });
     
    },
    async deleteList(idListToDelete){
      await this.$backend.delete(`list/delete-list/${idListToDelete}`)
      .then(()=>{
        this.fecthData();
      }).catch(errors => {
        console.log(errors);
      });
    },
    changeNewListModalVisibility(visibility) {
      this.visibilityNewListModal = visibility;
    }
  },
  components: {
    ListTable,
    NewListModal
  }
};
</script>
