<template>
  <q-dialog v-model="isVisible">
    <q-card style="width: 700px; max-width: 80vw;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Selecciona lista:</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup @click="hide" />
      </q-card-section>
      <q-card-section>
        <q-select
          v-model="listaSeleccionada"
          label="Selecciona la lista"
          :options="listas"
          behavior="menu"
        />
      </q-card-section>
      <q-card-section class="col-5 flex flex-center">
        <q-btn
          color="primary"
          @click="addFav"
          :disable="loading"
          label="Añadir a la lista de favoritos"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  name: "newListModal",
  data() {
    return {
      disableAddBTN: false,
      newName: "",
      listaSeleccionada: null,
    };
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean
    },
    listas: {
      type: Array
    }
  },
  methods: {
    addFav() {
      this.$emit("listSelected", this.listaSeleccionada );
      this.listaSeleccionada = null; 
    },
    hide(){
        this.$emit('hide');
        this.listaSeleccionada = null;
    }
  },
  computed: {
    isVisible: {
      get: function() {
        return this.visible;
      },
      set: function() {
        this.$emit("hide");
      }
    },
  },
  components: {}
};
</script>
