<template>
  <div>
    <div class="q-pa-md row items-start q-gutter-md">
      <Title title="Listas de favoritos" />
      <q-btn
        color="primary"
        :disable="loading"
        icon="note_add"
        label="Nueva lista"
        @click="addLinea"
      />
    </div>
    <div class="q-pa-md row items-start q-gutter-md" >
      <q-card flat bordered class="my-card bg-grey-1" v-for="lista in data" v-bind:key="lista._id">
        <q-card-section>
          <div class="row items-center no-wrap">
            <div class="col">
              <div class="text-h6">{{lista.name}}</div>
            </div>
            <div class="col-auto">
              <q-btn color="grey-7" round flat icon="more_vert">
                <q-menu cover auto-close>
                  <q-list>
                    <q-item clickable>
                      <q-item-section>Copiar enlace</q-item-section>
                    </q-item>
                    <q-item clickable>
                      <q-item-section>Enviar por correo</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </div>
          </div>
        </q-card-section>
        <q-separator />

        <q-card-actions>
          <q-btn flat @click="eliminarLista(lista._id)"> Eliminar</q-btn>
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>
<script>
import Title from "./Title";
export default {
  props: {
    loading: {
      type: Boolean
    },
    data: {
      type: Array
    }
  },
  data() {
    return {
    };
  },
  methods: {
    addLinea() {
      this.$emit("newList");
    },
    eliminarLista(id){
      this.$emit("deleteList", id)
    }
  },
  components: {
    Title
  }
};
</script>
