<template>
  <q-dialog v-model="isVisible">
    <q-card style="width: 700px; max-width: 80vw;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Nueva lista</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <q-input filled v-model="newName" label="Nombre de la lista " />
      </q-card-section>
      <q-card-section class="col-5 flex flex-center">
        <q-btn color="primary" @click="addNewList" :disable="loading" label="Añadir lista" />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  name: "newListModal",
  data() {
    return {
      disableAddBTN: false,
      newName: ""
    };
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    loading:{
      type:Boolean
    }
  },
  methods: {
      addNewList(){
          this.$emit('addNewList', this.newName);
          this.newName = '';
      }
  },
  computed: {
    isVisible: {
      get: function() {
        return this.visible;
      },
      set: function() {
        this.$emit("hide");
      }
    }
  },
  components: {}
};
</script>
