<template>
  <div
    style="padding:0 !important; margin-right:2em !important;"
    class="q-table__top relative-position row items-center"
  >
    <div class="q-table__control">
      <div class="q-table__title">{{ title }}</div>
    </div>
  </div>
</template>
<script>
export default {
  name: "titulo",
  props: ["title"]
};
</script>
