<template>
  <q-dialog v-model="isVisible" v-if="user" @show="abriendoModal">
    <q-card style="width: 700px; max-width: 80vw;">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">{{ user.name.first }} {{ user.name.last }}</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section>
        <div class="row " style="margin-bottom:2em; height: 200px">
          <div class="col-4">
            <q-img
              :src="user.picture.large"
              spinner-color="white"
              style="max-width: 128px;"
            />
          </div>
          <div class="col-8">
            <l-map :zoom="zoom" :center="center">
              <l-tile-layer :url="url" />
              <l-marker :lat-lng="marker" />
            </l-map>
          </div>
         
        </div>
        <div class="row ">
          <div class="col-8">
            <q-list>
                       <q-item clickable>
                <q-item-section avatar>
                  <q-icon color="primary" name="email" />
                </q-item-section>

                <q-item-section>
                  <q-item-label>Email</q-item-label>
                  <q-item-label caption>{{user.email}}</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable>
                <q-item-section avatar>
                  <q-icon color="primary" name="map" />
                </q-item-section>

                <q-item-section>
                  <q-item-label>Dirección</q-item-label>
                  <q-item-label caption>{{user.location.street.name}}, {{user.location.street.number}}. {{user.location.city}}, {{user.location.state}} ({{user.location.country}})</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable>
                <q-item-section avatar>
                  <q-icon color="primary" name="phone" />
                </q-item-section>

                <q-item-section>
                  <q-item-label>Móvil</q-item-label>
                  <q-item-label caption>{{user.phone}}</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable>
                <q-item-section avatar>
                  <q-icon color="primary" name="settings_phone" />
                </q-item-section>

                <q-item-section>
                  <q-item-label>Trabajo</q-item-label>
                  <q-item-label caption>{{user.cell}}.</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
           <div class="col-4">
            <q-btn
              v-if="showaddtofavbtn"
              color="primary"
              icon="start"
              :disabled="disableAddBTN"
              label="AÑADIR A FAVORITOS"
              @click="changeVisibilitySelectorModal(true)"
            />
            <q-btn
              v-else
              color="secondary"
              icon="delete"
              label="ELIMINAR DE FAVORITOS"
              @click="removeFromFavorites"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
    <ListSelectorModalValue :visible="visibilitySelectorListModal" @listSelected="setSelectedList"  @hide="changeVisibilitySelectorModal(false)" :listas="listas" /> 
  </q-dialog>
</template>
<script>
import { latLng } from "leaflet";
import { LMap, LMarker, LTileLayer } from "vue2-leaflet";
import { Icon } from "leaflet";
import ListSelectorModalValue from './ListSelectorModal.vue';
 
delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png")
});
export default {
  name: "UserProfile",
  data() {
    return {
      disableAddBTN: false,
      visibilitySelectorListModal: false,
      zoom: 3,
      center: [47.31322, -1.319482],
      marker: [47.31322, -1.319482],
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
    };
  },
  props: {
    user: {
      type: Object
    },
    visible: {
      type: Boolean,
      default: false
    },
    showaddtofavbtn: {
      type: Boolean,
      default: true
    },
    listas:{
      type: Array
    }
  },

  methods: {
    abriendoModal() {
      this.changeVisibilitySelectorModal(false);
      this.changeDisableAddBtn(false);

      this.marker = latLng(
        this.user.location.coordinates.latitude,
        this.user.location.coordinates.longitude
      );
      this.center = latLng(
        this.user.location.coordinates.latitude,
        this.user.location.coordinates.longitude
      );
    },
    setSelectedList(selectedList){
     this.addToFavorites(selectedList);
     this.changeVisibilitySelectorModal(false);
    },
    addToFavorites(selectedList) {
      this.$emit("nuevofavorito", selectedList);
      this.changeDisableAddBtn(true);
    },
    removeFromFavorites() {
      this.$emit("removeFavorito");
    },
    changeDisableAddBtn(disabled) {
      this.disableAddBTN = disabled;
    },
    changeVisibilitySelectorModal(visibility){
      this.visibilitySelectorListModal= visibility
    }
  },
  computed: {
    isVisible: {
      get: function() {
        return this.visible;
      },
      set: function() {
        this.$emit("hide");
        this.changeDisableAddBtn(false);
      },
      showMap() {
        if (this.user && this.user.name) {
          return true;
        }

        return false;
      }
    }
  },
  components: {
    LMap,
    LMarker,
    LTileLayer,
    ListSelectorModalValue
  }
};
</script>
