<template>
  <div>
    <q-table
      title="Usuarios"
      :data="data"
      :columns="columns"
      :visible-columns="visibleColumns"
      row-key="name.first"
      :loading="loading"
      no-data-label=" Parece que no hay usuarios :("
      rows-per-page-label="Perfiles por página"
      :pagination="pagination"
      @row-click="onRowClick"
    >
      <template v-slot:top>
        <Title :title="tituloTabla" />
        <q-separator />
        <q-btn
          v-if="showReloadBtn"
          color="primary"
        icon="download"
          :disable="loading"
          label="Recargar usuarios"
          @click="fecthData"
        />
          <q-btn
          v-else
          color="primary"
          icon="archive"
          label="Exportar a csv"
          no-caps
          @click="exportTable"
        />
      </template>
      <template v-slot:loading>
        <q-inner-loading showing color="primary" />
      </template>
    </q-table>
    <div class="row" v-if="showReloadBtn">
      <q-select
        v-model="filterGenderValue"
        label="Filtrar por género"
        :options="optionsGenderFilter"
        style="width: 250px"
        behavior="menu"
      />
      <q-select
        v-model="filterNatValue"
        label="Filtrar por nacionalidad"
        :options="optionsNatFilter"
        style="width: 250px"
        behavior="menu"
      />
      <q-separator />
    </div>
  </div>
</template>
<script>
import { date } from "quasar";
import Title from "./Title";
import { exportFile } from 'quasar'

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== void 0
    ? formatFn(val)
    : val

  formatted = formatted === void 0 || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
 
  return `"${formatted}"`
}
export default {
  name: "UsersTable",
  props: {
    data: {
      type: Array
    },
    filters: {
      type: Object
    },
    loading: {
      type: Boolean
    },
    showReloadBtn: {
      type: Boolean,
      default: true
    },
    tituloTabla: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
        visibleColumns: [ 'gender', 'name', 'email', 'nat', 'dob', 'registered' ],
        pagination:{
            rowsPerPage:40,
        },
      optionsGenderFilter: [
        {
          label: "Todos",
          value: null
        },
        {
          label: "Mujeres",
          value: "female"
        },
        {
          label: "Hombres",
          value: "male"
        }
      ],
      optionsNatFilter: [
        "AU",
        "BR",
        "CA",
        "CH",
        "DE",
        "DK",
        "ES",
        "FI",
        "FR",
        "GB",
        "IE",
        "IR",
        "NO",
        "NL",
        "NZ",
        "TR",
        "US"
      ],
      columns: [
        {
          name: 'list',
          label: 'Lista',
          sortable:true,
          field: row => row.list ? row.list.label : ''
        },
        {
          name: "gender",
          label: "Genero",
          sortable: true,
          field: row => row.gender && row.gender.localeCompare('male') ? 'Hombre' : 'Mujer',
        },
        {
          name: "name",
          label: "Nombre",
          sortable: true,
          field: row => row.name ? `${row.name.first} ${row.name.last}` : ''
        },
        {
          name: "email",
          label: "Email",
          sortable: true,
          field: row => row.email
        },
        {
          name: "nat",
          sortable: true,
          label: "Nacionalidad",
          field: row => row.nat
        },
        {
          name: "dob",
          sortable: true,
          label: "Fecha de natimiento",
          field: row => row.dob ? date.formatDate(row.dob.date, "DD-MM-YYYY") : ''
        },
        {
          name: "registered",
          sortable: true,
          label: "Fecha de registro",
          field: row => row.registered ? date.formatDate(row.registered.date, "DD-MM-YYYY") : ''
        }
      ]
    };
  },
  mounted(){
    if(!this.showReloadBtn){
      this.visibleColumns.push('list')
    }
  },
  methods: {
    fecthData() {
      this.$emit("fecthData");
    },
    onRowClick(event, row, index) {
      this.$emit("onRowClick", row);
    },
    exportTable () {
      // naive encoding to csv format
      const content = [ this.columns.map(col => wrapCsvValue(col.label)) ].concat(
        this.data.map(row => this.columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === void 0 ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'El navegador ha impedido la descarga...',
          color: 'negative',
          icon: 'warning'
        })
      }
    }

  },
  computed: {
    filterGenderValue: {
      get: function() {
        return this.filters.gender;
      },
      set: function(value) {
        this.$emit("updatedFilterGender", value);
      }
    },
    filterNatValue: {
      get: function() {
        return this.filters.nat;
      },
      set: function(value) {
        this.$emit("updatedFilterNat", value);
      }
    }
  },
  components: {
    Title
  }
};
</script>
